article {
    text-align: center;
    width: 70%;
}

article > h1 {
    font-size:25px;
}

@media only screen and (max-width: 759px) {
    article {
	width:90%;
    }
}


@media only screen and (min-width: 760px) {
    article {
	text-align: left;
	float: left;
    }
}