section, article {
    font-size: 20px;
    text-align:center;
    margin-top:20px;
}

section h1, article h1 {
    font-size:30px;
    margin: 20px auto 0px auto;
}

section h2, article h2 {
    font-size: 20px;
    margin: 0px auto 5px auto;
    font-weight:400;
}

.blogPost > p {
    margin-bottom:5px;
}

img {
    width: 100%;
}

@media only screen and (min-width: 760px) {
    section, article {
	width: 700px;
	text-align: left;
	font-size: 22px;
    }
}